<h1>My tasks</h1>

<ul><% @tasks.each do |task| %>
  <li><%= task.completed ? "â˜‘ï¸" : "ðŸ”²" %> <%= link_to task.title, task %> <%= link_to 'ðŸ—‘', delete_path(task), class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %> </li>
  <% end %>
</ul>

<%= link_to 'Create new', tasks_new_path, class: 'btn btn-primary btn-sm' %>

